<div id="hero" class="container">
  <div class="inner">
    <h2>BRINGING BITCOIN TO THE MASSES</h2>
    <h3>Payments - Anytime, Anywhere, by Anyone.</h3> 
    <!-- <a href="#register" rel="leanModal" class="btn maincta">Get Started</a> -->
    <a href="mailto:contact@paywithbits.com?sqs_title=We+Are+Currently+In+Beta.+Sign+Up+to+be+Notified+of+Updates&sqs_remove=subject,name,message" class="btn maincta">Get Started</a>
  </div>
</div>

<div id="individuals" class="container">
  <div class="inner">   
    <h4>FOR INDIVIDUALS<h4>
    <h3>It's the simplest way to exchange money</h3>
    <ul class="cf">
      <li class="fl gr">
        <%= image_tag('indiv_one.png') %>
        <p><strong>Mobile payments made easy</strong><br/>
          No need to swipe your card, type a PIN, or sign anything. Payments can be made through SMS, QR codes, or tapping on an NFC chip.</p></li>
      <li class="fl gr">
        <%= image_tag('indiv_two.png') %>
        <p><strong>Secure transactions</strong><br/>
          Bitcoin transactions are secured by military grade cryptography. Nobody can make a payment on your behalf or charge you money without a copy of your wallet.</p>
      </li>
      <li class="fl gr">
        <%= image_tag('indiv_three.png') %>
        <p><strong>Fast international payments</strong><br/> 
          Bitcoins can be transferred from Africa to Canada in 10 minutes. There is no bank to slow down the process, level outrageous fees, or freeze the transfer.</p>
      </li>
      <li class="fl">
        <%= image_tag('indiv_four.png') %>
        <p><strong>Works everywhere, anytime</strong><br/>
          The Bitcoin network never sleeps, even on holidays! You'll have your money when you need it, and not have to worry about when your bank opens. </p>
      </li>
    </ul>
  </div>
</div>

<div id="business" class="container">
  <div class="inner">   
    <h4>FOR MERCHANTS<h4>
    <h3>The most secure and inexpensive way to handle payments.</h3>
    <ul class="cf">
      <li class="fl gr">
        <%= image_tag('merch_one.png') %>
        <p><strong>The lowest fees out there</strong><br/>
        High cryptographic security to process transactions in a very efficient and inexpensive way. You can make and receive payments with almost zero fees.</p></li>
      <li class="fl gr">
        <%= image_tag('merch_two.png') %>
        <p><strong>Protection against fraud.</strong><br/>
        Payments are irreversible and wallets can be kept highly secure, meaning that the cost of theft is no longer pushed onto the shoulders of the merchants.</p>
      </li>
      <li class="fl gr">
        <%= image_tag('merch_three.png') %>
        <p><strong>No PCI compliance required</strong><br/>
        While it is a good thing to protect credit cards, Bitcoin security is built in such a way that makes this approach obsolete. Your payments are secured by the network, not at your expense.</p>
      </li>
      <li class="fl">
        <%= image_tag('merch_four.png') %>
        <p><strong>Instant POS transactions</strong><br/>
        A Bitcoin transaction is deployed within a few seconds and confirmed within minutes. No more waiting days for credit card transactions to process.</p>
      </li>
    </ul>
  </div>
</div>
