<div id="hero" class="container">
  <div class="inner">
    <h2>BRINGING BITCOIN TO THE MASSES</h2>
    <h3>Payments - Anytime, Anywhere, by Anyone.</h3> 
    <!-- <a href="#register" rel="leanModal" class="btn maincta">Get Started</a> -->
    <a href="mailto:contact@paywithbits.com?sqs_title=We+Are+Currently+In+Beta.+Sign+Up+to+be+Notified+of+Updates&sqs_remove=subject,name,message" class="btn maincta">Get Started</a>
  </div>
</div>

<div id="individuals" class="container">
  <div class="inner">   
    <h4>FOR INDIVIDUALS<h4>
    <h3>It's the simplest way to exchange money</h3>
    <ul class="cf">
      <li class="fl gr">
        <%= image_tag('indiv_one.png') %>
        <p><strong>Mobile payments made easy</strong><br/>
          No need to swipe your card, type a PIN, or sign anything. Payments can be made through SMS on any mobile device. QR codes, tapping on an NFC chip are future features but not required.</p></li>
      <li class="fl gr">
        <%= image_tag('indiv_two.png') %>
        <p><strong>Military Grade Transactions</strong><br/>
          Without a copy of your unique wallet id, it's virtually impossible to make payments on your behalf, since transactions using Bitcoin are secured by military grade cryptography.</p>
      </li>
      <li class="fl gr">
        <%= image_tag('indiv_three.png') %>
        <p><strong>Quick international payments</strong><br/> 
          Bitcoins can be transferred from Europe to North America, or anywhere else, in about 10 minutes. Banks are not involved so transactions process faster and without outrageous fees. </p>
      </li>
      <li class="fl">
        <%= image_tag('indiv_four.png') %>
        <p><strong>Works anywhere, anytime</strong><br/>
          The Bitcoin network is active on sundays, holidays, everyday! You'll have your money when you need it, and not have to worry about when your bank opens. </p>
      </li>
    </ul>
  </div>
</div>

<div id="business" class="container">
  <div class="inner">   
    <h4>FOR MERCHANTS<h4>
    <h3>The most secure and inexpensive way to handle payments.</h3>
    <ul class="cf">
      <li class="fl gr">
        <%= image_tag('merch_one.png') %>
        <p><strong>The lowest possible fees </strong><br/>
        Leveraging the Bitcoin cryptographic security allows us to process transactions quickly and efficiently. Payments can be made with processing fees much lower then using a banks.</p></li>
      <li class="fl gr">
        <%= image_tag('merch_two.png') %>
        <p><strong>Fraud Protection</strong><br/>
          Highly secure wallets and irreversible payments means merchants no longer have to burden the cost of theft and fraudulent charges or fear chargebacks at a later date. </p>
      </li>
      <li class="fl gr">
        <%= image_tag('merch_three.png') %>
        <p><strong>PCI compliance NOT required</strong><br/>
        The security of Bitcoins are built in such a way that PCI compliance, such as those used for credit cards, has been made obsolete. <!-- Transferring money is secured by the network and not at your expense.  --></p>
      </li>
      <li class="fl">
        <%= image_tag('merch_four.png') %>
        <p><strong>Instant POS transactions</strong><br/>
        A Bitcoin transaction is deployed within a few seconds and confirmed within minutes. No more waiting days for credit card transactions to process.</p>
      </li>
    </ul>
  </div>
</div>
