<!DOCTYPE html>
<html>
<head>
  <title>Bits</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <meta name="description" content="Bits is an SMS payment platform, build on top of the Bitcoin digital currency. Our purpose is to enable people to send money anywhere in the world, at anytime, to anyone and have access to it almost instantly.">
  <meta name="viewport" content="initial-scale=0.8, maximum-scale=1">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

  
</head>
<body>
  
<header class="container">
  <div class="inner cf">
  <h1 class="fl"><%= image_tag('logo.png') %></h1>
  <ul class="fr">
    <li>
      <a href="#register" rel="leanModal" class="btn primary">REGISTER</a>
    </li>
  </ul> 
  </div>
</header>

<%= yield %>
          

<div id="register">
    <h4>Pay with Bits is currently in Beta.</h4>
      <p>If you would like and email to be included in our beta program or notified when we launch <a href="mailto:beta@paywithbits.com">send us an email</a>.</p>
</div>

<footer><p>&copy;<%= DateTime.now.year  %> GetBit, LLC. <%= link_to "Contact", "mailto:bc6f5fb" %></p></footer>
<script src="http://squaresend.com/squaresend.js"></script>

<script type="text/javascript" charset="utf-8">
$(function() {
  $('a[rel*=leanModal]').leanModal({ top : 80, closeButton: ".modal_close" });       
});
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40539232-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
